* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 10px;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 1440px;
}

.header {
  display: flex;
}

.header__wrapper {
  display: flex;
  align-items: center;
  background: url('./assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}

.header__icon {
  margin: 20px 0;
  width: 50px;
  height: 50px;
  background: url('./assets/svg/logo.svg') no-repeat;
  background-size: contain;
  transition: 0.3s;
}

.header__icon:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 30px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  text-decoration: none;
}

.nav__link:hover {
  color: #bdae82;
}

.language {
  margin-left: 35px;
  display: flex;
  align-items: center;
}

.language__item {
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  cursor: pointer;
}

.language__input:checked + .language__item {
  color: #bdae82;
}

.language__delimiter {
  margin: 0 8px 0 9px;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}