* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 10px;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 1440px;
}

.btn {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  background-color: transparent;
  border: 2px solid #bdae82;
  cursor: pointer;
  transition: 0.5s;
}

.btn--primary {
  color: #000000;
  background-color: #bdae82;
}

.btn:hover {
  color: #ffffff;
}

.title-wrapper {
  margin: 0 auto;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  width: 50%;
  overflow-x: hidden;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}

.section-title {
  display: inline;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
  background-color: #000000;
}

.section-title--primary {
  padding: 0 20px;
}
/*
.section-title--primary::before,
.section-title--primary::after {
  content: "";
  position: absolute;
  top: 49%;
  display: block;
  width: 39%;
  height: 2px;
  background-color: #bdae82;
}

.section-title--primary::before {
  left: 0;
}

.section-title--primary::after {
  right: 0;
} */

.header {
  display: flex;
}

.header__wrapper {
  display: flex;
  align-items: center;
  background: url('./assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}

.header__icon {
  margin: 20px 0;
  width: 50px;
  height: 50px;
  background: url('./assets/svg/logo.svg') no-repeat;
  background-size: contain;
  transition: 0.3s;
}

.header__icon:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 30px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
}

.nav__link:hover {
  color: #bdae82;
}

.language {
  margin-left: 35px;
  display: flex;
  align-items: center;
}

.language__item {
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.language__input:checked + .language__item {
  color: #bdae82;
}

.language__delimiter {
  margin: 0 10px 0 9px;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}

.hero {
  padding-top: 160px;
  padding-bottom: 330px;
  padding-left: 60px;
  background: url('assets/img/header-bg.jpg') center -90px no-repeat;
}

.hero__title {
  margin-bottom: 10px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  color: #ffffff;
}

.hero__text {
  margin-bottom: 25px;
  width: 470px;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
}

.hero__btn {
  padding: 6px 72px 5px;
}

.skills {
  padding-top: 100px;
  padding-bottom: 10px;
}

.skills__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills__item {
  padding: 100px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  background-position: center top;
  background-position: center top;
  background-repeat: no-repeat;
}

.skills__item:nth-child(1) {
  background-image: url('assets/img/camera-pic.png');
}

.skills__item:nth-child(2) {
  background-image: url('assets/img/video-pic.png');
}

.skills__item:nth-child(3) {
  background-image: url('assets/img/landscape-pic.png');
}

.skills__item:nth-child(4) {
  background-image: url('assets/img/mic-pic.png');
}

.skill__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}

.skill__text {
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.portfolio {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seasons {
  margin-bottom: 60px;
  display: flex;
  gap: 5px;
}

.seasons__btn {
  width: 220px;
  height: 55px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.portfolio__item {
  width: 450px;
  height: 560px;
}