:root {
  --body-color: #ffffff;
  --text-color: #000000;
  --text-color-light: #ffffff;
  --text-gradient: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
  --primary-color: #032541;
  --accent-color: #1ed5a9;
  --low-color: #e74c3c;
  --medium-color: #f1c40f;
  --high--color: #1abc9c;  
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  background: var(--body-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1440px;
}

.btn {
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

.header {
  background-color: var(--primary-color);

  &__wrapper {
    padding: 25px 20px;
    display: flex;
    justify-content: center;
  }
}

.search {
  position: relative;
  width: 80%;

  @media (max-width: 530px) {
    width: 100%;
  }

  &__query {
    padding: 5px 30px;
    padding-right: 10%;
    width: 100%;
    font-size: 1.2rem;
    color: var(--text-color-light);
    background-color: #0d2f4a;
    border: 2px solid var(--accent-color);
    border-radius: 20px;
    outline: none;
    transition: 0.5s;
    
    &::placeholder {
      letter-spacing: 0.8px;
      color: var(--accent-color);
    }

    &:focus {
      background-color: #133755;
    }

    @media (max-width: 620px) {
      padding-left: 10px;
      font-size: 1rem;
    }

    @media (max-width: 520px) {
      font-size: 0.8rem;
    }
  }

  &__btn {
    position: absolute;
    top: 7px;
    right: 15px;
    width: 30px;
    height: 30px;
    background-image: url('assets/svg/search.svg');
    filter: invert(64%) sepia(46%) saturate(640%) hue-rotate(115deg) brightness(95%) contrast(99%);

    &:hover {
      filter: invert(44%) sepia(62%) saturate(617%) hue-rotate(146deg) brightness(100%) contrast(86%);
    }

    @media (max-width: 620px) {
      top: 5px;
      right: 10px;
    }

    @media (max-width: 520px) {
      width: 20px;
      height: 20px;
    }
  }

  &__cancel {
    position: absolute;
    top: 12px;
    right: 55px;
    width: 20px;
    height: 20px;
    background-image: url('assets/svg/cancel.svg');
    filter: invert(69%) sepia(40%) saturate(1042%) hue-rotate(298deg) brightness(90%) contrast(109%);

    &:hover {
      filter: invert(42%) sepia(30%) saturate(1952%) hue-rotate(304deg) brightness(87%) contrast(97%)
    }

    @media (max-width: 620px) {
      top: 10px;
      right: 50px;
    }

    @media (max-width: 520px) {
      top: 9px;
      right: 40px;
      width: 13px;
      height: 13px;
    }
  }
}

.main {

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    height: 100%;
  }
}

.popular {
  margin-top: 40px;
  margin-right: auto;
  margin-left: 5%;
  display: flex;
  align-items: center;

  @media (max-width: 510px) {
    flex-direction: column;
    margin-right: 5%;
  }

  &__title {
    margin-right: 20px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;

    @media (max-width: 510px) {
      margin-bottom: 10px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
  }

  &__item {
    padding: 4px 20px;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;

    &--active {
      color: var(--accent-color);
      background-color: var(--primary-color);
    }
  }
}

.card-field {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;

  @media (max-width: 920px) {
    justify-content: center;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);

    & .card__img {
      border-radius: 10px 10px 0 0;
    }
  }

  &__img {
    width: 100%;
    height: calc(200px * 1.5);
    background-color: #9b9b9b;
    border-radius: 10px;
    transition: 0.5s;
  }

  &__rating {
    position: absolute;
    left: 5px;
    top: calc(300px - 30px);
  }

  &__content {
    padding: 10px;
    padding-top: 25px;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 700;
  }

  &__date {
    font-size: 0.7rem;
    font-weight: 500;
  }
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 50%;

  &__progress {
    position: absolute;
    width: 50px;
    height: 50px;

    &--circle {
      transition: 0.35s stroke-dashoffset;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
    }

    &--low {
      stroke: var(--low-color);
    }

    &--medium {
      stroke: var(--medium-color);
    }

    &--high {
      stroke: var(--high--color);
    }
  }

  &__number {
    font-size: 0.8rem;
    line-height: 1rem;
    color: var(--text-color-light);
  }
}

.footer {
  background-color: var(--primary-color);

  &__wrapper {
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__github {
    padding-left: 45px;
    display: block;
    width: 120px;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
    text-decoration: none;
    color: var(--text-color-light);
    background-image: url('assets/svg/github.svg');
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: left center;
    transition: 0.3s;

    &:hover {
      color: var(--accent-color);
    }
  }

  &__year {
    position: absolute;
    bottom: -3px;
    right: 0;
    font-size: 21px;
    letter-spacing: -2px;
    color: #ffffff;
    line-height: 0.9;
    font-weight: bold;
    transition: 0.3s;
    filter: invert(180%);
  }

  &__rss {
    display: block;
    position: relative;
    width: 86px;
    height: 32px;
    background-image: url('assets/svg/rs_school_js.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    padding-right: 111px;
    filter: invert(180%);

    &:hover .footer__year {
      right: -5px;
      letter-spacing: 0;
    }
  }
}

.popup {
  position: fixed;
  display: block;
  top: 0;
  left: 0;

  &--open {
    display: block;
  }

  &__overlate {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
  }

  &__body {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    width: 80%;
    max-width: 580px;
    background-color: var(--body-color);
    border-radius: 10px;
    transform: translate(-50%, -50%);
  }

  &__img {
    width: 300px;
    height: 100%;
    border-radius: 10px 0 0 10px;
  }

  &__content {
    padding: 20px;
  }

  &__title {
    width: 70%;
    margin-bottom: 15px;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: var(--primary-color);
  }

  &__subtitle {
    margin-bottom: 10px;
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 500;
    color: var(--accent-color);

    &--date {
      margin-left: 10px;
      font-weight: 400;
      font-size: 1rem;
      color: var(--text-color);
    }

    &--rating {
      margin-left: 20px;
      padding: 5px;
      background-color: var(--primary-color);
      color: var(--text-color-light);
    }
  }

  &__description {
    font-size: 0.8rem;
    width: 80%;
    overflow-y: hidden;
  }

  &__btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-image: url('assets/svg/cancel.svg');
    opacity: 0.4;

    &:hover {
      opacity: 1;
      filter: invert(44%) sepia(62%) saturate(617%) hue-rotate(146deg) brightness(100%) contrast(86%);
    }
  }
}

.low {
  color: var(--low-color);
}

.medium {
  color: var(--medium-color);
}

.high {
  color: var(--high--color);
}

.disable-scroll {
  overflow-y: hidden;
}