:root {
  --body-color: #ffffff;
  --text-color: #000000;
  --text-color-light: #ffffff;
  --text-gradient: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
  --primary-color: #032541;
  --accent-color: #1ed5a9;
  --low-color: #e74c3c;
  --medium-color: #f1c40f;
  --high--color: #1abc9c;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  background: var(--body-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1440px;
}

.btn {
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header {
  background-color: var(--primary-color);
}

.header__wrapper {
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search {
  position: relative;
  width: 80%;
}

@media (max-width: 530px) {
  .search {
    width: 100%;
  }
}

.search__query {
  padding: 5px 30px;
  padding-right: 10%;
  width: 100%;
  font-size: 1.2rem;
  color: var(--text-color-light);
  background-color: #0d2f4a;
  border: 2px solid var(--accent-color);
  border-radius: 20px;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.search__query::-webkit-input-placeholder {
  letter-spacing: 0.8px;
  color: var(--accent-color);
}

.search__query:-ms-input-placeholder {
  letter-spacing: 0.8px;
  color: var(--accent-color);
}

.search__query::-ms-input-placeholder {
  letter-spacing: 0.8px;
  color: var(--accent-color);
}

.search__query::placeholder {
  letter-spacing: 0.8px;
  color: var(--accent-color);
}

.search__query:focus {
  background-color: #133755;
}

@media (max-width: 620px) {
  .search__query {
    padding-left: 10px;
    font-size: 1rem;
  }
}

@media (max-width: 520px) {
  .search__query {
    font-size: 0.8rem;
  }
}

.search__btn {
  position: absolute;
  top: 7px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-image: url("assets/svg/search.svg");
  -webkit-filter: invert(64%) sepia(46%) saturate(640%) hue-rotate(115deg) brightness(95%) contrast(99%);
          filter: invert(64%) sepia(46%) saturate(640%) hue-rotate(115deg) brightness(95%) contrast(99%);
}

.search__btn:hover {
  -webkit-filter: invert(44%) sepia(62%) saturate(617%) hue-rotate(146deg) brightness(100%) contrast(86%);
          filter: invert(44%) sepia(62%) saturate(617%) hue-rotate(146deg) brightness(100%) contrast(86%);
}

@media (max-width: 620px) {
  .search__btn {
    top: 5px;
    right: 10px;
  }
}

@media (max-width: 520px) {
  .search__btn {
    width: 20px;
    height: 20px;
  }
}

.search__cancel {
  position: absolute;
  top: 12px;
  right: 55px;
  width: 20px;
  height: 20px;
  background-image: url("assets/svg/cancel.svg");
  -webkit-filter: invert(69%) sepia(40%) saturate(1042%) hue-rotate(298deg) brightness(90%) contrast(109%);
          filter: invert(69%) sepia(40%) saturate(1042%) hue-rotate(298deg) brightness(90%) contrast(109%);
}

.search__cancel:hover {
  -webkit-filter: invert(42%) sepia(30%) saturate(1952%) hue-rotate(304deg) brightness(87%) contrast(97%);
          filter: invert(42%) sepia(30%) saturate(1952%) hue-rotate(304deg) brightness(87%) contrast(97%);
}

@media (max-width: 620px) {
  .search__cancel {
    top: 10px;
    right: 50px;
  }
}

@media (max-width: 520px) {
  .search__cancel {
    top: 9px;
    right: 40px;
    width: 13px;
    height: 13px;
  }
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  height: 100%;
}

.popular {
  margin-top: 40px;
  margin-right: auto;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 510px) {
  .popular {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 5%;
  }
}

.popular__title {
  margin-right: 20px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

@media (max-width: 510px) {
  .popular__title {
    margin-bottom: 10px;
  }
}

.popular__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
}

.popular__item {
  padding: 4px 20px;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popular__item--active {
  color: var(--accent-color);
  background-color: var(--primary-color);
}

.card-field {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

@media (max-width: 920px) {
  .card-field {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card:hover .card__img {
  border-radius: 10px 10px 0 0;
}

.card__img {
  width: 100%;
  height: calc(200px * 1.5);
  background-color: #9b9b9b;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card__rating {
  position: absolute;
  left: 5px;
  top: calc(300px - 30px);
}

.card__content {
  padding: 10px;
  padding-top: 25px;
}

.card__title {
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 700;
}

.card__date {
  font-size: 0.7rem;
  font-weight: 500;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.rating__progress {
  position: absolute;
  width: 50px;
  height: 50px;
}

.rating__progress--circle {
  -webkit-transition: 0.35s stroke-dashoffset;
  transition: 0.35s stroke-dashoffset;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.rating__progress--low {
  stroke: var(--low-color);
}

.rating__progress--medium {
  stroke: var(--medium-color);
}

.rating__progress--high {
  stroke: var(--high--color);
}

.rating__number {
  font-size: 0.8rem;
  line-height: 1rem;
  color: var(--text-color-light);
}

.footer {
  background-color: var(--primary-color);
}

.footer__wrapper {
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__github {
  padding-left: 45px;
  display: block;
  width: 120px;
  height: 45px;
  font-size: 16px;
  line-height: 45px;
  text-decoration: none;
  color: var(--text-color-light);
  background-image: url("assets/svg/github.svg");
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: left center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__github:hover {
  color: var(--accent-color);
}

.footer__year {
  position: absolute;
  bottom: -3px;
  right: 0;
  font-size: 21px;
  letter-spacing: -2px;
  color: #ffffff;
  line-height: 0.9;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-filter: invert(180%);
          filter: invert(180%);
}

.footer__rss {
  display: block;
  position: relative;
  width: 86px;
  height: 32px;
  background-image: url("assets/svg/rs_school_js.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-right: 111px;
  -webkit-filter: invert(180%);
          filter: invert(180%);
}

.footer__rss:hover .footer__year {
  right: -5px;
  letter-spacing: 0;
}

.popup {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
}

.popup--open {
  display: block;
}

.popup__overlate {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.popup__body {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  max-width: 580px;
  background-color: var(--body-color);
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup__img {
  width: 300px;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.popup__content {
  padding: 20px;
}

.popup__title {
  width: 70%;
  margin-bottom: 15px;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 700;
  color: var(--primary-color);
}

.popup__subtitle {
  margin-bottom: 10px;
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-weight: 500;
  color: var(--accent-color);
}

.popup__subtitle--date {
  margin-left: 10px;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-color);
}

.popup__subtitle--rating {
  margin-left: 20px;
  padding: 5px;
  background-color: var(--primary-color);
  color: var(--text-color-light);
}

.popup__description {
  font-size: 0.8rem;
  width: 80%;
  overflow-y: hidden;
}

.popup__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url("assets/svg/cancel.svg");
  opacity: 0.4;
}

.popup__btn:hover {
  opacity: 1;
  -webkit-filter: invert(44%) sepia(62%) saturate(617%) hue-rotate(146deg) brightness(100%) contrast(86%);
          filter: invert(44%) sepia(62%) saturate(617%) hue-rotate(146deg) brightness(100%) contrast(86%);
}

.low {
  color: var(--low-color);
}

.medium {
  color: var(--medium-color);
}

.high {
  color: var(--high--color);
}

.disable-scroll {
  overflow-y: hidden;
}
/*# sourceMappingURL=style.css.map */